body{
  background: url(food.jpg);
  background-size:cover ;
  background-repeat:no-repeat ;
}

.button-add{
  font-family: 'Montserrat', sans-serif;
  background-color: #77cf40;
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
}

.button-delete{
  font-family: 'Montserrat', sans-serif;
  background: none;
  border: 0;
  font-size: 10px;
  color: red;
  font-weight: bolder;
}
h1{
  font-family: 'Montserrat', sans-serif;
  background-color: #dcedf7;
  border-radius: 20px;
  padding: 15px;
}
.App{
  display: flex;
  justify-content: space-around;
}
.whole-plan{
  width: 70%;
  height: 100vh;
}
.myInput{
  width: 70%;
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
}
textarea{
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  padding: 10px;
  height: 200px;
  width: 70%;
  border-radius:20px;
  font-family: 'Montserrat', sans-serif;
}

.selected{
background-color: #fad106;
}
.default{
  background-color: #dcedf7;
}
p{
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.field{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 18px;
}
@media all and (max-width:800px){
  .button-add{
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 7px;
  }
  h1{
    border-radius: 15px;
    padding: 15px;
    font-size: 10px;
  }
  .whole-plan{
    width: 50%;
    height: 100vh;
  }
  .App{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
  }
  .myInput{
    width: 50%;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
  }
  body{
    background-size:auto;
    background-color: #89CFF3;
  }
  p{
    font-size: 10px;
  }
  textarea{
    padding: 10px;
    height: 100px;
    width: 50%;

    
  }
}
  @media all and (max-width:500px){
  body{
    background-color: #89CFF3;
  }
}
